---
---

@import "{{ site.theme }}";
.main-content {
  h1 {
   text-align: center;
 }
 img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(to top, red, yellow);

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

 body {
    color: #ffffff;
    background-color: #0d1117;
  }


